<div class="well" style="margin-bottom: 19px;">
{% for member in site.data.person_info %}
<div class="row sidebar-info">
  <a href="{{site.url}}{{site.baseurl}}/about"><img src="{{ site.url }}{{ site.baseurl }}/images/person/{{member.photo-small }}" class="img-responsive" /></a>
  <center><h4>{{ member.name }} ({{member.zh_name}})</h4>

   {% if member.website %}<a href="{{ member.website }}" target="_blank"><i class="fa fa-home fa-2x"></i></a> {% endif %}
   {% if member.email %}<a href="mailto:{{ member.email }}" target="_blank"><i class="fa fa-envelope-square fa-2x"></i></a> {% endif %}
   {% if member.cv %} <a href="{{ member.cv }}" target="_blank"><i class="ai ai-cv-square ai-2x"></i></a> {% endif %}
   {% if member.scholar %} <a href="{{ member.scholar }}" target="_blank"><i class="ai ai-google-scholar-square ai-2x"></i></a> {% endif %}
   {% if member.github %} <a href="{{ member.github }}" target="_blank"><i class="fa fa-github-square fa-2x"></i></a> {% endif %}
  </center>
  <div style="overflow: hidden; padding-left: 13px; padding-right: 0px; padding-top: 5px; padding-bottom: 10px;">
  {% if member.number_educ == 1 %}
  {{ member.education1short }} </br>
  {% endif %}

  {% if member.number_educ == 2 %}
  {{ member.education1short }} </br>
  {{ member.education2short }} </br>
  {% endif %}

  {% if member.number_educ == 3 %}
  {{ member.education1short }} </br>
  {{ member.education2short }} </br>
  {{ member.education3short }} </br>
  {% endif %}

  {% if member.number_educ == 4 %}
  {{ member.education1short }} </br>
  {{ member.education2short }} </br>
  {{ member.education3short }} </br>
  {{ member.education4short }} </br>
  {% endif %}

  {% if member.number_educ == 5 %}
  {{ member.education1short }}</br>
  {{ member.education2short }}</br>
  {{ member.education3short }}</br>
  {{ member.education4short }}</br>
  {{ member.education5short }}</br>
  {% endif %}

  {% if member.number_educ == 6 %}
  {{ member.education1short }} </br>
  {{ member.education2short }} </br>
  {{ member.education3short }} </br>
  {{ member.education4short }} </br>
  {{ member.education5short }} </br>
  {{ member.education6short }} </br>
  {% endif %}
  </div>
</div>

{% endfor %}
</div>

<div class="well" style="padding: 0px">
<h4 style="padding-left: 10px">Last Updated on:</h4>
  <div style="display: block; border-top: 1px solid rgba(145,165,180,.6); padding: 10px">
    {{ site.time | date: '%B %d, %Y' }}. Nanjing
  </div>
</div>

