<!DOCTYPE html>
<html>
  <!-- <script type="text/javascript" async  -->
<!-- src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js? -->
<!-- config=TeX-AMS-MML_HTMLorMML"></script> -->

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container-fluid">
      <div class="row">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
