---
layout: gridlay
---
{% assign pdfpresent = false %}
{% if page.pdf %}
  {% assign pdfpresent = true %}
  {% assign pdffile = page.pdf  | append: ".pdf" %}
{% endif %}

<h1> {{ page.title }} </h1>
<div class="rowl1">
    <div style="float: left">
      <img src="{{ site.url }}{{ site.baseurl }}/publications/{{ page.image }}" class="img-responsive" style="border-radius: 5px; width: 280px;" />
      <div style="max-width: 280px">
        {% if pdfpresent == true %}<a href="{{ pdffile }}" target="_blank"><button class="btn-pdf">PDF</button></a>{% endif %}
        {% if page.doi %}<a href="http://doi.org/{{ page.doi }}" target="_blank"><button class="btn-doi">DOI</button></a> {% endif %}
        {% if page.arxiv %}<a href="https://arxiv.org/abs/{{ page.arxiv }}" target="_blank"><button class="btn-arxiv">ARXIV</button></a> {% endif %}
        {% if page.code %}<a href="{{ page.code }}" target="_blank"><button class="btn-code">CODE</button></a> {% endif %}
        {% if page.suppmat %}<a href="{{ page.suppmat }}" target="_blank"><button class="btn-suppmat">SUPPLEMENT</button></a> {% endif %}
      </div>
    </div>
    <h4>{{ page.authors }}</h4>
    <h5><em>{{ page.display }}</em>{% if page.year %} ({{page.year}}){% endif %}</h5>
    {% if page.abstract %}
      <a class="btn-abstract" style="text-decoration:none; color:#ebebeb; hover:#ebebeb; pointer-events: none;" role="button">ABSTRACT</a> {{ page.abstract }}
    {% endif %}

    {% assign contentwords = page.content | number_of_words %}
    {% if contentwords > 0 %}
      <p></p><strong>Description</strong>
      {{ page.content | markdownify }}
    {% endif %}

    <div class="well-bib">
     <iframe src='{{site.url}}{{site.baseurl}}/publications/{{page.pdf}}.txt' scrolling="yes" width="100%" height="210" frameborder="0"></iframe>
    </div>

    {% if page.pdf %}
      <object data="{{ pdffile }}#view=FitH" width="100%" height="700" type="application/pdf"></object>
    {% endif %} 
</div>
